
<app-header></app-header>
<main>
	<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
		<mat-card fxFlex="50%">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et urna eu consequat. Phasellus efficitur mauris
				sem, sed rhoncus mi lobortis at. Pellentesque ultrices nunc libero, in varius dolor euismod quis. Suspendisse varius
				viverra justo ut hendrerit. Pellentesque sed est et mauris feugiat blandit. Ut quis euismod libero. Sed congue ullamcorper
				enim sed dictum. Nam nec fringilla felis. Donec sodales tellus vel nibh viverra, ac fringilla libero pulvinar. Nam diam
				enim, malesuada in justo a, tempus aliquam sem. Etiam dictum consequat arcu, et suscipit est lacinia a. Nunc posuere
				gravida dui, vel aliquet mi pellentesque vitae. Sed id leo at urna tincidunt efficitur. Aenean sed diam in augue varius
				sagittis sed sed lectus. Duis id magna commodo, condimentum purus id, ultricies lacus. Pellentesque habitant morbi tristique
				senectus et netus et malesuada fames ac turpis egestas.
			</p>
		</mat-card>
		<mat-card fxFlex="50%">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et urna eu consequat. Phasellus efficitur mauris
				sem, sed rhoncus mi lobortis at. Pellentesque ultrices nunc libero, in varius dolor euismod quis. Suspendisse varius
				viverra justo ut hendrerit. Pellentesque sed est et mauris feugiat blandit. Ut quis euismod libero. Sed congue ullamcorper
				enim sed dictum. Nam nec fringilla felis. Donec sodales tellus vel nibh viverra, ac fringilla libero pulvinar. Nam diam
				enim, malesuada in justo a, tempus aliquam sem. Etiam dictum consequat arcu, et suscipit est lacinia a. Nunc posuere
				gravida dui, vel aliquet mi pellentesque vitae. Sed id leo at urna tincidunt efficitur. Aenean sed diam in augue varius
				sagittis sed sed lectus. Duis id magna commodo, condimentum purus id, ultricies lacus. Pellentesque habitant morbi tristique
				senectus et netus et malesuada fames ac turpis egestas.
			</p>
		</mat-card>
	</div>
	<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
		<mat-card fxFlex="100%">
			<p>
				I am full width
			</p>
		</mat-card>
	</div>
</main>
<app-footer></app-footer>
